
.lbtn {
    border: 1px solid black;
    padding:0px 6px 3px;
    border-radius: 10px;
    background-color: rgba(155, 76, 175, 0.527)
}

.loginpage {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.card {
    border: 2px solid black;
    width: 30rem;
    border-radius: 12px;
    background-color: rgba(155, 76, 175, 0.159)
}
.card-hdr {
    border-bottom: 2px solid black;
    border-radius: 12px 12px 0 0;
    background-color: rgba(155, 76, 175, 0.527);
}
.btn {
    background-color: rgba(155, 76, 175, 0.527) !important;
    border: 2px solid black;
}

@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

p, .getstartedbtn {
  font-family: 'Figtree', sans-serif;
}

.title {
  color: purple;
}

.calendar {
  border: 4px solid purple;
}

.getstartedbtn {
  background-color: rgba(155, 76, 175, 0.527);
}

/* home page css */

.home_grid {
  display: grid;
  grid-template-columns: 175px 1fr;
  gap: 1em;
}

.main_grid {
display: grid;
gap: 4em;
margin: 1rem;

}

.section_sidebar {
  margin: .5em;
  align-self: start;
  position: sticky;
  top: 100px;

}
.gap_it {
  display: grid;
  
}

.h_style {
  text-align: center;
  padding: 2rem 0em 1rem 0em;
}

.anchor_style {
  border: 1px black solid;
  border-radius: 1em;
  padding: 5px 10px 5px 10px;
}

@media (max-width: 732px) {
  .home_grid {
    grid-template-columns: 1fr;
  }
  .section_sidebar {
    position: static;
  }
  .anchor_style {
    text-align: center;
    margin: 0 50px 0 50px;

  }
}

